# Sample config file. Please edit with your specific parameters.

# repository

# url for fetching git repository
GIT_REPOSITORY = ssh://git@git.milosolutions.com:8922/some-project

# relative to build dir. Directory where built all executables ready to packaging.
DISTDIR = app

# Directories

DIR_ROOT_MSVS  = C:\Program Files (x86)\Microsoft Visual Studio 12.0
DIR_BIN_QMAKE  = C:\Qt\5.4\msvc2013_64\bin
DIR_BIN_NSIS   = C:\Program Files (x86)\NSIS\Bin

# Architecture

# Usually available values:
#     x86 | amd64 | arm | x86_amd64 | x86_arm | amd64_x86 | amd64_arm
# Keep consistent DIR_BIN_QMAKE and ARCH with the same architecture
ARCH = amd64

# Installer

PROJECT_NAME = Your_project_name
